<app-nav-bar></app-nav-bar>
<form>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>update Username</mat-label>
      <input
        matInput
        [(ngModel)]="userData.Username"
        name="Username"
        type="text"
      />
      <mat-hint>min 5 characters, no spaces or special characters</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>update Password</mat-label>
      <input
        matInput
        [(ngModel)]="userData.Password"
        placeholder="******"
        name="Password"
        type="password"
      />
      <mat-hint>min 6 characters, no spaces</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>update Email Address</mat-label>
      <input matInput [(ngModel)]="userData.Email" name="Email" type="email" />
      <mat-hint>enter a valid Email Address</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>update Date of Birth</mat-label>

      <input
        matInput
        [(ngModel)]="userData.Birthday"
        type="date"
        placeholder="Birthday"
        name="Birthday"
      />
    </mat-form-field>
  </p>
  <button mat-raised-button (click)="updateUser()">Update Profile</button>
</form>
